@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  padding-top: 100px;
}
.main-container {
  display: flex;
}
button {
  border-radius: 7px;
  height: 50px;
  border: none;
  font-size: 16px;
}
.red-button {
  background: #ed6b5a;
}
.green-button {
  background: #3ad886;
}